<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hoods</title>
</head>
<body>
  <% for(var i=0; i<regions.length; i++) { %>
    <h4>
      <a href="/<%= regions[i].name %>">
        <%= regions[i].name %>
      </a>
    </h4>
  <% } %>
</body>
</html>