<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zone</title>
</head>
<body>
  <a href="/">Back</a>
  <h1><%= area.name %></h1>
  <p><%= area.description %></p>
</body>
</html>